USE [master]
GO
/****** Object:  Database [CIFLIKDB]    Script Date: 12.05.2026 19:15:30 ******/
CREATE DATABASE [CIFLIKDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CIFLIKDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\CIFLIKDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CIFLIKDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\CIFLIKDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CIFLIKDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CIFLIKDB]
GO
/****** Object:  Table [dbo].[EkipmanYonetimi]    Script Date: 12.05.2026 19:15:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EkipmanYonetimi](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EkipmanTuru] [nvarchar](50) NULL,
	[MarkaModel] [nvarchar](100) NULL,
	[SatinAlmaTarihi] [date] NULL,
	[MevcutSaat] [int] NULL,
	[BakimSaati] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gorevler]    Script Date: 12.05.2026 19:15:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gorevler](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[gorev_tanimi] [nvarchar](255) NOT NULL,
	[kategori] [nvarchar](100) NULL,
	[oncelik_durumu] [nvarchar](50) NULL,
	[son_tarih] [date] NULL,
	[durum] [nvarchar](20) NULL,
	[olusturulma_tarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tarlalar]    Script Date: 12.05.2026 19:15:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tarlalar](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MetreKare] [decimal](18, 2) NOT NULL,
	[MahsulAdi] [nvarchar](max) NULL,
	[SuGideri] [decimal](18, 2) NULL,
	[BoruAdet] [int] NULL,
	[SatisTutar] [decimal](18, 2) NULL,
	[Koordinatlar] [nvarchar](max) NULL,
	[Durum] [bit] NULL,
	[KayitTarihi] [datetime] NULL,
	[TarlaAdi] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_AsiTakip]    Script Date: 12.05.2026 19:15:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_AsiTakip](
	[asi_id] [int] IDENTITY(1,1) NOT NULL,
	[hayvan_id] [int] NULL,
	[asi_adi] [nvarchar](150) NULL,
	[yapilma_tarihi] [date] NULL,
	[tekrar_tarihi] [date] NULL,
	[durum] [nvarchar](30) NULL,
	[aciklama] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[asi_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Ayarlar]    Script Date: 12.05.2026 19:15:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Ayarlar](
	[ayar_id] [int] IDENTITY(1,1) NOT NULL,
	[olcu_birimi] [nvarchar](50) NULL,
	[para_birimi] [nvarchar](50) NULL,
	[ciftlik_adi] [nvarchar](150) NULL,
	[hayvan_kapasitesi] [int] NULL,
	[sutten_kesme_gun] [int] NULL,
	[gebelik_kontrol_gun] [int] NULL,
	[kuru_donem_gun] [int] NULL,
	[bildirimler] [bit] NULL,
	[otomatik_yedek] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ayar_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Finans]    Script Date: 12.05.2026 19:15:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Finans](
	[finans_id] [int] IDENTITY(1,1) NOT NULL,
	[islem_tarihi] [datetime] NULL,
	[islem_turu] [nvarchar](20) NULL,
	[kategori] [nvarchar](100) NULL,
	[musteri_id] [int] NULL,
	[personel_id] [int] NULL,
	[tutar] [decimal](18, 2) NULL,
	[odeme_turu] [nvarchar](50) NULL,
	[aciklama] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[finans_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Gebelik]    Script Date: 12.05.2026 19:15:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Gebelik](
	[gebelik_id] [int] IDENTITY(1,1) NOT NULL,
	[hayvan_id] [int] NULL,
	[tohumlama_tarihi] [date] NULL,
	[kontrol_tarihi] [date] NULL,
	[durum] [nvarchar](30) NULL,
	[tahmini_dogum] [date] NULL,
	[veteriner_notu] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[gebelik_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Hastaliklar]    Script Date: 12.05.2026 19:15:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Hastaliklar](
	[hastalik_id] [int] IDENTITY(1,1) NOT NULL,
	[hastalik_adi] [nvarchar](150) NULL,
	[belirtiler] [nvarchar](max) NULL,
	[bulasici] [bit] NULL,
	[tedavi] [nvarchar](max) NULL,
	[durum] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[hastalik_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Hayvanlar]    Script Date: 12.05.2026 19:15:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Hayvanlar](
	[hayvan_id] [int] IDENTITY(1,1) NOT NULL,
	[kupe_no] [nvarchar](50) NOT NULL,
	[hayvan_adi] [nvarchar](50) NULL,
	[tur] [nvarchar](30) NULL,
	[irk] [nvarchar](50) NULL,
	[cinsiyet] [nvarchar](10) NULL,
	[dogum_tarihi] [date] NULL,
	[kilo] [decimal](10, 2) NULL,
	[renk] [nvarchar](30) NULL,
	[anne_Kno] [nvarchar](150) NULL,
	[baba_Kno] [nvarchar](150) NULL,
	[durum] [nvarchar](30) NULL,
	[ahir_no] [nvarchar](20) NULL,
	[giris_tarihi] [date] NULL,
	[satis_tarihi] [date] NULL,
	[satis_fiyati] [decimal](18, 2) NULL,
	[aciklama] [nvarchar](max) NULL,
	[genclikdurumu] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[hayvan_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[kupe_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_HayvanSatis]    Script Date: 12.05.2026 19:15:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_HayvanSatis](
	[satis_id] [int] IDENTITY(1,1) NOT NULL,
	[hayvan_id] [int] NULL,
	[musteri_id] [int] NULL,
	[satis_tarihi] [date] NULL,
	[canli_kg] [decimal](10, 2) NULL,
	[karkas_kg] [decimal](10, 2) NULL,
	[kg_fiyat] [decimal](18, 2) NULL,
	[toplam_tutar]  AS ([canli_kg]*[kg_fiyat]),
	[aciklama] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[satis_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Musteriler]    Script Date: 12.05.2026 19:15:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Musteriler](
	[musteri_id] [int] IDENTITY(1,1) NOT NULL,
	[firma_adi] [nvarchar](150) NULL,
	[ad] [nvarchar](120) NULL,
	[soyad] [nvarchar](120) NULL,
	[musteri_tipi] [nvarchar](50) NULL,
	[telefon] [nvarchar](25) NULL,
	[telefon2] [nvarchar](25) NULL,
	[email] [nvarchar](120) NULL,
	[vergi_no] [nvarchar](50) NULL,
	[tc_no] [nvarchar](20) NULL,
	[il] [nvarchar](50) NULL,
	[ilce] [nvarchar](50) NULL,
	[adres] [nvarchar](max) NULL,
	[bakiye] [decimal](18, 2) NULL,
	[aktif] [bit] NULL,
	[aciklama] [nvarchar](max) NULL,
	[kayit_tarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[musteri_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Personeller]    Script Date: 12.05.2026 19:15:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Personeller](
	[personel_id] [int] IDENTITY(1,1) NOT NULL,
	[ad_soyad] [nvarchar](120) NOT NULL,
	[tc_no] [nvarchar](20) NULL,
	[telefon] [nvarchar](25) NULL,
	[gorev] [nvarchar](100) NULL,
	[maas] [decimal](18, 2) NULL,
	[ise_giris_tarihi] [date] NULL,
	[dogum_tarihi] [date] NULL,
	[adres] [nvarchar](max) NULL,
	[ehliyet_varmi] [bit] NULL,
	[aktif] [bit] NULL,
	[aciklama] [nvarchar](max) NULL,
	[kayit_tarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[personel_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_RasyonDetay]    Script Date: 12.05.2026 19:15:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_RasyonDetay](
	[detay_id] [int] IDENTITY(1,1) NOT NULL,
	[rasyon_id] [int] NULL,
	[stok_id] [int] NULL,
	[miktar] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[detay_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Rasyonlar]    Script Date: 12.05.2026 19:15:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Rasyonlar](
	[rasyon_id] [int] IDENTITY(1,1) NOT NULL,
	[rasyon_adi] [nvarchar](150) NULL,
	[hedef_hayvan] [nvarchar](100) NULL,
	[aciklama] [nvarchar](max) NULL,
	[durum] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[rasyon_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Stok]    Script Date: 12.05.2026 19:15:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Stok](
	[stok_id] [int] IDENTITY(1,1) NOT NULL,
	[urun_adi] [nvarchar](150) NULL,
	[kategori] [nvarchar](100) NULL,
	[birim] [nvarchar](20) NULL,
	[mevcut_stok] [decimal](18, 2) NULL,
	[kritik_stok] [decimal](18, 2) NULL,
	[depo_yeri] [nvarchar](100) NULL,
	[son_guncelleme] [datetime] NULL,
	[durum] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[stok_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_StokHareket]    Script Date: 12.05.2026 19:15:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_StokHareket](
	[hareket_id] [int] IDENTITY(1,1) NOT NULL,
	[stok_id] [int] NULL,
	[islem_turu] [nvarchar](20) NULL,
	[miktar] [decimal](18, 2) NULL,
	[birim_fiyat] [decimal](18, 2) NULL,
	[toplam_tutar]  AS ([miktar]*[birim_fiyat]),
	[tarih] [datetime] NULL,
	[aciklama] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[hareket_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_SutKayit]    Script Date: 12.05.2026 19:15:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_SutKayit](
	[sut_id] [int] IDENTITY(1,1) NOT NULL,
	[hayvan_id] [int] NULL,
	[sagim_tarihi] [datetime] NULL,
	[litre] [decimal](10, 2) NULL,
	[kalite] [nvarchar](100) NULL,
	[aciklama] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[sut_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_VeterinerIslem]    Script Date: 12.05.2026 19:15:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_VeterinerIslem](
	[islem_id] [int] IDENTITY(1,1) NOT NULL,
	[hayvan_id] [int] NOT NULL,
	[veteriner_id] [int] NULL,
	[hastalik_id] [int] NULL,
	[islem_turu] [nvarchar](100) NULL,
	[tarih] [date] NULL,
	[ilac_adi] [nvarchar](150) NULL,
	[tedavi] [nvarchar](max) NULL,
	[maliyet] [decimal](18, 2) NULL,
	[sonraki_kontrol] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[islem_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Veterinerler]    Script Date: 12.05.2026 19:15:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Veterinerler](
	[veteriner_id] [int] IDENTITY(1,1) NOT NULL,
	[ad] [nvarchar](150) NULL,
	[soyad] [nvarchar](150) NULL,
	[kayit_tarihi] [date] NULL,
	[cikis_tarihi] [date] NULL,
	[alinan_odenek] [decimal](18, 2) NULL,
	[durum] [bit] NULL,
	[telefon] [nvarchar](11) NULL,
PRIMARY KEY CLUSTERED 
(
	[veteriner_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Gorevler] ADD  DEFAULT ('Beklemede') FOR [durum]
GO
ALTER TABLE [dbo].[Gorevler] ADD  DEFAULT (getdate()) FOR [olusturulma_tarihi]
GO
ALTER TABLE [dbo].[Tbl_AsiTakip] ADD  DEFAULT ('Bekliyor') FOR [durum]
GO
ALTER TABLE [dbo].[Tbl_Finans] ADD  DEFAULT (getdate()) FOR [islem_tarihi]
GO
ALTER TABLE [dbo].[Tbl_Hastaliklar] ADD  DEFAULT ((0)) FOR [bulasici]
GO
ALTER TABLE [dbo].[Tbl_Hayvanlar] ADD  DEFAULT ('Sığır') FOR [tur]
GO
ALTER TABLE [dbo].[Tbl_Hayvanlar] ADD  DEFAULT ('Aktif') FOR [durum]
GO
ALTER TABLE [dbo].[Tbl_Hayvanlar] ADD  DEFAULT (getdate()) FOR [giris_tarihi]
GO
ALTER TABLE [dbo].[Tbl_Musteriler] ADD  DEFAULT ((0)) FOR [bakiye]
GO
ALTER TABLE [dbo].[Tbl_Musteriler] ADD  DEFAULT ((1)) FOR [aktif]
GO
ALTER TABLE [dbo].[Tbl_Musteriler] ADD  DEFAULT (getdate()) FOR [kayit_tarihi]
GO
ALTER TABLE [dbo].[Tbl_Personeller] ADD  DEFAULT ((0)) FOR [maas]
GO
ALTER TABLE [dbo].[Tbl_Personeller] ADD  DEFAULT ((0)) FOR [ehliyet_varmi]
GO
ALTER TABLE [dbo].[Tbl_Personeller] ADD  DEFAULT ((1)) FOR [aktif]
GO
ALTER TABLE [dbo].[Tbl_Personeller] ADD  DEFAULT (getdate()) FOR [kayit_tarihi]
GO
ALTER TABLE [dbo].[Tbl_Rasyonlar] ADD  DEFAULT ((1)) FOR [durum]
GO
ALTER TABLE [dbo].[Tbl_Stok] ADD  DEFAULT ((0)) FOR [mevcut_stok]
GO
ALTER TABLE [dbo].[Tbl_Stok] ADD  DEFAULT ((0)) FOR [kritik_stok]
GO
ALTER TABLE [dbo].[Tbl_Stok] ADD  DEFAULT (getdate()) FOR [son_guncelleme]
GO
ALTER TABLE [dbo].[Tbl_Stok] ADD  DEFAULT ((1)) FOR [durum]
GO
ALTER TABLE [dbo].[Tbl_StokHareket] ADD  DEFAULT (getdate()) FOR [tarih]
GO
ALTER TABLE [dbo].[Tbl_SutKayit] ADD  DEFAULT (getdate()) FOR [sagim_tarihi]
GO
ALTER TABLE [dbo].[Tbl_VeterinerIslem] ADD  DEFAULT (getdate()) FOR [tarih]
GO
ALTER TABLE [dbo].[Tbl_VeterinerIslem] ADD  DEFAULT ((0)) FOR [maliyet]
GO
ALTER TABLE [dbo].[Tbl_Veterinerler] ADD  DEFAULT (getdate()) FOR [kayit_tarihi]
GO
ALTER TABLE [dbo].[Tbl_AsiTakip]  WITH CHECK ADD FOREIGN KEY([hayvan_id])
REFERENCES [dbo].[Tbl_Hayvanlar] ([hayvan_id])
GO
ALTER TABLE [dbo].[Tbl_Finans]  WITH CHECK ADD FOREIGN KEY([musteri_id])
REFERENCES [dbo].[Tbl_Musteriler] ([musteri_id])
GO
ALTER TABLE [dbo].[Tbl_Finans]  WITH CHECK ADD FOREIGN KEY([personel_id])
REFERENCES [dbo].[Tbl_Personeller] ([personel_id])
GO
ALTER TABLE [dbo].[Tbl_Gebelik]  WITH CHECK ADD FOREIGN KEY([hayvan_id])
REFERENCES [dbo].[Tbl_Hayvanlar] ([hayvan_id])
GO
ALTER TABLE [dbo].[Tbl_HayvanSatis]  WITH CHECK ADD FOREIGN KEY([hayvan_id])
REFERENCES [dbo].[Tbl_Hayvanlar] ([hayvan_id])
GO
ALTER TABLE [dbo].[Tbl_HayvanSatis]  WITH CHECK ADD FOREIGN KEY([musteri_id])
REFERENCES [dbo].[Tbl_Musteriler] ([musteri_id])
GO
ALTER TABLE [dbo].[Tbl_RasyonDetay]  WITH CHECK ADD FOREIGN KEY([rasyon_id])
REFERENCES [dbo].[Tbl_Rasyonlar] ([rasyon_id])
GO
ALTER TABLE [dbo].[Tbl_RasyonDetay]  WITH CHECK ADD FOREIGN KEY([stok_id])
REFERENCES [dbo].[Tbl_Stok] ([stok_id])
GO
ALTER TABLE [dbo].[Tbl_StokHareket]  WITH CHECK ADD FOREIGN KEY([stok_id])
REFERENCES [dbo].[Tbl_Stok] ([stok_id])
GO
ALTER TABLE [dbo].[Tbl_SutKayit]  WITH CHECK ADD FOREIGN KEY([hayvan_id])
REFERENCES [dbo].[Tbl_Hayvanlar] ([hayvan_id])
GO
ALTER TABLE [dbo].[Tbl_VeterinerIslem]  WITH CHECK ADD FOREIGN KEY([hastalik_id])
REFERENCES [dbo].[Tbl_Hastaliklar] ([hastalik_id])
GO
ALTER TABLE [dbo].[Tbl_VeterinerIslem]  WITH CHECK ADD FOREIGN KEY([hayvan_id])
REFERENCES [dbo].[Tbl_Hayvanlar] ([hayvan_id])
GO
ALTER TABLE [dbo].[Tbl_VeterinerIslem]  WITH CHECK ADD FOREIGN KEY([veteriner_id])
REFERENCES [dbo].[Tbl_Veterinerler] ([veteriner_id])
GO
ALTER TABLE [dbo].[Tbl_AsiTakip]  WITH CHECK ADD CHECK  (([durum]='İptal' OR [durum]='Yapıldı' OR [durum]='Bekliyor'))
GO
ALTER TABLE [dbo].[Tbl_Finans]  WITH CHECK ADD CHECK  (([islem_turu]='Gider' OR [islem_turu]='Gelir'))
GO
ALTER TABLE [dbo].[Tbl_Finans]  WITH CHECK ADD CHECK  (([odeme_turu]='Çek' OR [odeme_turu]='Kredi Kartı' OR [odeme_turu]='Havale' OR [odeme_turu]='Nakit'))
GO
ALTER TABLE [dbo].[Tbl_Gebelik]  WITH CHECK ADD CHECK  (([durum]='Beklemede' OR [durum]='Negatif' OR [durum]='Pozitif'))
GO
ALTER TABLE [dbo].[Tbl_Hayvanlar]  WITH CHECK ADD CHECK  (([cinsiyet]='Dişi' OR [cinsiyet]='Erkek'))
GO
ALTER TABLE [dbo].[Tbl_Hayvanlar]  WITH CHECK ADD CHECK  (([durum]='Karantina' OR [durum]='Hasta' OR [durum]='Öldü' OR [durum]='Kesim' OR [durum]='Satıldı' OR [durum]='Aktif'))
GO
ALTER TABLE [dbo].[Tbl_Musteriler]  WITH CHECK ADD CHECK  (([musteri_tipi]='Süt Alıcısı' OR [musteri_tipi]='Yem Tedarikçisi' OR [musteri_tipi]='Veteriner' OR [musteri_tipi]='Bireysel' OR [musteri_tipi]='Firma' OR [musteri_tipi]='Kasap'))
GO
ALTER TABLE [dbo].[Tbl_Stok]  WITH CHECK ADD CHECK  (([birim]='Adet' OR [birim]='Litre' OR [birim]='Ton' OR [birim]='KG'))
GO
ALTER TABLE [dbo].[Tbl_StokHareket]  WITH CHECK ADD CHECK  (([islem_turu]='Çıkış' OR [islem_turu]='Giriş'))
GO
USE [master]
GO
